<div class="main">

  <nav class="navbar">
    <button class="nav-toggle" aria-label="toggle navigation" (click)="toggleMenu()">
      <div class="menu-icon"></div>
    </button>    <ul [class.open]="isMenuOpen">
      <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li> -->
      <li><a href="#">Home</a></li>
      <!-- <li><a routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a></li> -->
      <li><a href="#about">About</a></li>
      <!-- <li><a routerLink="projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Projects</a></li> -->
      <li><a href="#projects">Projects</a></li>
      <!-- <li><a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a></li> -->
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>