<!-- <section class="home-section">
    <div class="content">
      <h1>Hi, I'm <span class="highlight">Abhi Patel</span></h1>
      <h2>A Passionate <span class="role">Full Stack Developer</span></h2>
      <p>
        I specialize in building robust web applications using .NET, Angular, React, Blazor.
        With a strong foundation in software engineering and a creative mindset,
        I love solving real-world problems through clean, scalable code.
      </p>
      <div class="buttons">
        <a routerLink="projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="btn primary">View Projects</a>
        <a href="assets/Abhi_Cv.pdf" download class="btn secondary"><i class="fa-solid fa-download" style="margin-right: 3px;"></i>Download Resume</a>
      </div>
    </div>
    <div class="profile-image">
      <img src="/assets/logo.png" alt="" />
    </div>
  </section> -->

  <section class="home-section">
    <div class="content">
      <h1>Hi, I'm <span class="highlight">Abhi Patel</span></h1>
      <h2>A Passionate <span class="role">Full Stack Developer</span></h2>
      <p>
        I specialize in building robust web applications using .NET, Angular, React, Blazor.
        With a strong foundation in software engineering and a creative mindset,
        I love solving real-world problems through clean, scalable code.
      </p>
      <div class="buttons">
        <a href="#projects" class="btn primary">View Projects</a>
        <a href="assets/Abhi_Cv(14).pdf" download class="btn secondary"><i class="fa-solid fa-download" style="margin-right: 3px;"></i>Download Resume</a>
      </div>
    </div>
    <div class="profile-image">
      <img src="/assets/logo.png" alt="Abhi Patel Profile" />
    </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="projects">
  <app-projects></app-projects>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>